@import "../../common/colors.scss";

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
img {
  margin-left: 10px;
  cursor: pointer;
}
.search-bar{
  width: 50%;
  display: flex;
  justify-content: center;
  form {
    width: 70%;
    display: flex;
    justify-content: center;
    button{
      padding: 0px 8px;
      font-size: 20px;
      cursor: pointer;
    }
    input {
      height: 38px;
      padding: 5px 5px 5px 10px;
      width: 100%;
    }
  }
}
}

.logo {
color: $font-primary;
font-weight: bold;
font-size: 20px;
}

.user-img, .user-img img {
    width: 38px;
    height: 38px;
}
.user-img{
  width: 200px;
  display: flex;
  align-items: center;
  color: $font-primary;
}